
body {
    font-family: Arial, sans-serif;
    background: rgba(242, 242, 242, 0.57);
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
}

a {
    display: inline-block;
    margin: 10px 0;
}

#pitch {
    margin: 20px auto;
    background: green;
    position: relative;
}

.player {
    cursor: grab;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    cursor: grab;
}

.player-container {
    cursor: grab;
}

.player-container:active {
    cursor: grabbing;
}

.player-label {
   pointer-events: none;
}




/* ===== BELKA GÓRNA ===== */
.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #1e7f43;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center; /* <<< CENTRUM */

    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 1000;
}

.topbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.topbar a:hover {
    text-decoration: underline;
}

.topbar-center a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.topbar-center a:hover {
    text-decoration: underline;
}

.logo {
    position: absolute;
    left: 20px;
    font-size: 18px;
    font-weight: bold;
}

/* ===== TREŚĆ STRONY ===== */
.page-content {
    margin-top: 80px; /* WAŻNE – żeby treść nie weszła pod belkę */
    padding: 20px;
}
/* ===== BELKA GÓRNA ===== */

/* ===== UKŁAD SKŁADU ===== */
.lineup-layout {
    display: flex;
    gap: 30px;
}

/* ===== LISTA ZAWODNIKÓW ===== */
.players-list {
    width: 220px;
    background: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
    overflow-y: auto;
    max-height: 600px;
}

.players-list h3 {
    text-align: center;
}

/* ===== KARTA ZAWODNIKA ===== */


.player-wrapper {
    text-align: center;
}

.player-label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

.player-img {
    width: 50px;
    height: 50px;
}

/* ===== BOISKO ===== */
#pitch-container {
    position: relative;
    width: 600px;
    height: auto;
}

#pitch {
    width: 100%;
}

.lineup-controls {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.lineup-controls button {
    padding: 6px 10px;
    cursor: pointer;
}

.player-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

.player-thumb {
    width: 40px;
    height: 40px;
}

.delete-btn {
    margin-left: auto;
    background: #c0392b;
    color: white;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 4px;
}

.delete-btn:hover {
    background: #a93226;
}

.snap-point {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 2px dashed rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    pointer-events: none; /* NIE BLOKUJE DRAG */
    box-sizing: border-box;
    z-index: 5;
}




